[Unit]
Description=Harvester: Admineasy client
After=network.target

[Service]
User=root
Group=root

Type=simple
ExecStart=[EXEC_PATH]
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target